
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title -Online Medicine service</title>
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/2833/2833228.png" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.12/typed.min.js"></script>
    <script src="https://kit.fontawesome.com/067dbad983.js" crossorigin="anonymous"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="index_body">
    
    <a href="/index/indexpage">
        <div class="logo">
            <img src="https://cdn-icons-png.flaticon.com/512/2833/2833228.png" />
            <h3>Med<span style="color:deeppink;">life</span></h2>
        </div>
    </a>
    <div class="containers">
        @RenderBody()
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(window).on("load", function () {
            $('#preloader').fadeOut(7000);
        });
        function password() {

            var x = document.getElementById("password");
            if (x.type === "password") {
                x.type = "text";
                document.getElementById('eye').style.color = "rgba(116, 116, 116, 0.781)";


            }
            else {
                x.type = "password";
                document.getElementById('eye').style.color = "rgba(43, 43, 43, 0.781)";
            }
        }

        function cpassword() {

            var y = document.getElementById("cpassword");
            if (y.type === "password") {
                y.type = "text";
                document.getElementById('ceye').style.color = "rgba(116, 116, 116, 0.781)";


            }
            else {
                y.type = "password";
                document.getElementById('ceye').style.color = "rgba(43, 43, 43, 0.781)";
            }
        }
    </script>
</body>
</html>
