
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title -Online Medicine service</title>
    <script src="https://kit.fontawesome.com/067dbad983.js" crossorigin="anonymous"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="index_body">
    
    <div class="containers">
        @RenderBody()
    </div>
</body>
</html>
