
@{
    ViewBag.Title = "Indexpage";
    Layout = "~/Views/Shared/_indexlayout.cshtml";
}
<div id="preloader">

</div>
<div class="index_nav">
    <ul>
        <li><a>HOME</a></li>
        <li><a>SERVICE</a></li>
        <li><a>ABOUT US</a></li>
        <li><a>CONTACT</a></li>

    </ul>
</div>
<div class="index_body_contain">

    <div class="index_heading">
        <div><img src="https://cdn1.vectorstock.com/i/1000x1000/64/80/online-medicine-service-vector-31016480.jpg" /></div>
        <div class="heading_title">
            <h3>Online Medicine Service</h3>
            <h5>Any kind of Medicine Available</h5>
            <p>
                Send medicines to your dear ones with just one click. You take care of your health. We'll take care of the errands.
                Delivery without hassle.Pickup or drop any item. Delivery within 2 hours. Doorstep delivery. Vaccinated delivery boy.
                Contactless delivery.
            </p>
            <a href="/index/Singinpage"><button class="index_button">Log-In</button></a>
        </div>
    </div>
</div>

<div class="socail_media_app">
    <i class="fab fa-facebook"></i>
    <i class="fab fa-google-plus"></i>
    <i class="fab fa-whatsapp-square"></i>
    <i class="fas fa-envelope-square"></i>
</div>

