
@{
    ViewBag.Title = "Indexpage";
    Layout = "~/Views/Shared/_indexlayout.cshtml";
}

<div class="index_body_contain">
    <div class="index_heading">
        <div><img src="https://cdn1.vectorstock.com/i/1000x1000/64/80/online-medicine-service-vector-31016480.jpg" /></div>
        <div>
            <h3>Online Medicine Service</h3>
        </div>
    </div>
</div>

