
@{
    ViewBag.Title = "Productshow";
    Layout = "~/Views/Shared/_productpage.cshtml";
}

<div class="heading_p_page">
    <span>
        <a href="/User/Homepage">Home </a><a href="#">/ @Model.name</a>
    </span>
</div>


<div class="product_show">

    @foreach (var item in Model.Products)
    {
    <div class="best-item">
        <a href="/Product/Addtocart/@item.Id">
            <img src="~/Content/img/@item.P_img" alt="">
            <h3>@item.P_name</h3>
            <h2>৳-@item.P_price</h2>
        </a>
    </div>
    }

       


        </div>

